.dice-roller { 
    text-align: center;
}

.dice-roller h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333333;
}

.dice-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.dice {
    font-size: 4em;
    background-color:#182825;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #182825;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333;
}

.score {
    margin-top: 20px;
    font-size: 1.2em;
}

.score h2 {
    margin-bottom: 10px;
    color: #333333;
}

.score p {
    margin: 5px 0;
    color: #182825;
}
